*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container{
   max-width: 1200px;
   width: 80%;
   margin: 5rem auto;
}

.todo_form{
   min-height: 5vh;
   margin-top: 1.5rem;
   display: flex;
   justify-content: space-between;

}

.todo_form input{
   min-height: 100%;
}

.todo_form input[type="text"]{
   width: 78%;
   padding: 0.8rem;
   font-size: 1rem;
   font: 600;
   border: none;
   outline: none;
   background: rgba(205, 205, 186, 0.674);  
   color: #000;
}

.todo_form input[type="submit"]{
   width: 20%;
   font-size: 1rem;
   font: 700;
   border: none;
   outline: none;
   background: rgba(134, 9, 26, 0.974);  
   color: #fff;
}

.todo_list{
   min-height: 5vh;
   font-size: 1.2rem;
   list-style: none;
}

.todo_list li{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1rem;
   padding: 0.7rem;
   background: rgb(72, 70, 70);
   color: #fff;
}


.todo_btn{
   padding: 0.5rem 1rem;
   border: none;
   outline: none;
   background: rgba(119, 9, 134, 0.974);
   color: #fff;
   cursor: pointer;
}